<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Common_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,199}</string>
                <key>spriteSourceSize</key>
                <string>{119,199}</string>
                <key>textureRect</key>
                <string>{{0,0},{119,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Common_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,11}</string>
                <key>spriteSourceSize</key>
                <string>{11,11}</string>
                <key>textureRect</key>
                <string>{{119,0},{11,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Common_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,11}</string>
                <key>spriteSourceSize</key>
                <string>{11,11}</string>
                <key>textureRect</key>
                <string>{{130,0},{11,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Common_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,11}</string>
                <key>spriteSourceSize</key>
                <string>{11,11}</string>
                <key>textureRect</key>
                <string>{{141,0},{11,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Common_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,11}</string>
                <key>spriteSourceSize</key>
                <string>{11,11}</string>
                <key>textureRect</key>
                <string>{{152,0},{11,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Common_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,11}</string>
                <key>spriteSourceSize</key>
                <string>{11,11}</string>
                <key>textureRect</key>
                <string>{{163,0},{11,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Common_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,11}</string>
                <key>spriteSourceSize</key>
                <string>{11,11}</string>
                <key>textureRect</key>
                <string>{{174,0},{11,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Common_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,11}</string>
                <key>spriteSourceSize</key>
                <string>{11,11}</string>
                <key>textureRect</key>
                <string>{{185,0},{11,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Common_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,11}</string>
                <key>spriteSourceSize</key>
                <string>{11,11}</string>
                <key>textureRect</key>
                <string>{{196,0},{11,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Common_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{5,5}</string>
                <key>spriteSourceSize</key>
                <string>{5,5}</string>
                <key>textureRect</key>
                <string>{{207,0},{5,5}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Common_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,11}</string>
                <key>spriteSourceSize</key>
                <string>{11,11}</string>
                <key>textureRect</key>
                <string>{{212,0},{11,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Common_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,82}</string>
                <key>spriteSourceSize</key>
                <string>{112,82}</string>
                <key>textureRect</key>
                <string>{{223,0},{112,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Common_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,11}</string>
                <key>spriteSourceSize</key>
                <string>{11,11}</string>
                <key>textureRect</key>
                <string>{{335,0},{11,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Common_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,13}</string>
                <key>spriteSourceSize</key>
                <string>{13,13}</string>
                <key>textureRect</key>
                <string>{{346,0},{13,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Common_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,13}</string>
                <key>spriteSourceSize</key>
                <string>{13,13}</string>
                <key>textureRect</key>
                <string>{{359,0},{13,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Common_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,13}</string>
                <key>spriteSourceSize</key>
                <string>{13,13}</string>
                <key>textureRect</key>
                <string>{{372,0},{13,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Common_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,24}</string>
                <key>spriteSourceSize</key>
                <string>{39,24}</string>
                <key>textureRect</key>
                <string>{{385,0},{39,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Common_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,24}</string>
                <key>spriteSourceSize</key>
                <string>{39,24}</string>
                <key>textureRect</key>
                <string>{{424,0},{39,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Common_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,24}</string>
                <key>spriteSourceSize</key>
                <string>{39,24}</string>
                <key>textureRect</key>
                <string>{{0,199},{39,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Common_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,24}</string>
                <key>spriteSourceSize</key>
                <string>{39,24}</string>
                <key>textureRect</key>
                <string>{{39,199},{39,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Common_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,24}</string>
                <key>spriteSourceSize</key>
                <string>{39,24}</string>
                <key>textureRect</key>
                <string>{{78,199},{39,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Common_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,24}</string>
                <key>spriteSourceSize</key>
                <string>{39,24}</string>
                <key>textureRect</key>
                <string>{{117,199},{39,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Common_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,15}</string>
                <key>spriteSourceSize</key>
                <string>{44,15}</string>
                <key>textureRect</key>
                <string>{{156,199},{44,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Common_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,56}</string>
                <key>spriteSourceSize</key>
                <string>{15,56}</string>
                <key>textureRect</key>
                <string>{{200,199},{15,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Common_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,56}</string>
                <key>spriteSourceSize</key>
                <string>{15,56}</string>
                <key>textureRect</key>
                <string>{{215,199},{15,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Common_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,55}</string>
                <key>spriteSourceSize</key>
                <string>{17,55}</string>
                <key>textureRect</key>
                <string>{{230,199},{17,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Common_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,27}</string>
                <key>spriteSourceSize</key>
                <string>{35,27}</string>
                <key>textureRect</key>
                <string>{{247,199},{35,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Common_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,27}</string>
                <key>spriteSourceSize</key>
                <string>{35,27}</string>
                <key>textureRect</key>
                <string>{{282,199},{35,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Common_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,27}</string>
                <key>spriteSourceSize</key>
                <string>{35,27}</string>
                <key>textureRect</key>
                <string>{{317,199},{35,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Common_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,27}</string>
                <key>spriteSourceSize</key>
                <string>{35,27}</string>
                <key>textureRect</key>
                <string>{{352,199},{35,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Common_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,27}</string>
                <key>spriteSourceSize</key>
                <string>{35,27}</string>
                <key>textureRect</key>
                <string>{{387,199},{35,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Common_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,17}</string>
                <key>spriteSourceSize</key>
                <string>{41,17}</string>
                <key>textureRect</key>
                <string>{{422,199},{41,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Common_33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,15}</string>
                <key>spriteSourceSize</key>
                <string>{44,15}</string>
                <key>textureRect</key>
                <string>{{0,255},{44,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Common_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{390,17}</string>
                <key>spriteSourceSize</key>
                <string>{390,17}</string>
                <key>textureRect</key>
                <string>{{44,255},{390,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Common_35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,8}</string>
                <key>spriteSourceSize</key>
                <string>{8,8}</string>
                <key>textureRect</key>
                <string>{{434,255},{8,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Common_36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,8}</string>
                <key>spriteSourceSize</key>
                <string>{8,8}</string>
                <key>textureRect</key>
                <string>{{442,255},{8,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Common_37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,8}</string>
                <key>spriteSourceSize</key>
                <string>{8,8}</string>
                <key>textureRect</key>
                <string>{{450,255},{8,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Common_38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,8}</string>
                <key>spriteSourceSize</key>
                <string>{8,8}</string>
                <key>textureRect</key>
                <string>{{0,272},{8,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Common_39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,13}</string>
                <key>spriteSourceSize</key>
                <string>{156,13}</string>
                <key>textureRect</key>
                <string>{{8,272},{156,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Common.png</string>
            <key>size</key>
            <string>{463,285}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ca762b4326b163596aed21f8a25dc141:8e0d4c602cbedd644c2a8a71d1535114:593cab8d2a050374f0ff2769c430fb21$</string>
            <key>textureFileName</key>
            <string>Common.png</string>
        </dict>
    </dict>
</plist>
