<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>explosion1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,48}</string>
                <key>spriteSourceSize</key>
                <string>{64,48}</string>
                <key>textureRect</key>
                <string>{{0,0},{64,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>explosion10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,48}</string>
                <key>spriteSourceSize</key>
                <string>{64,48}</string>
                <key>textureRect</key>
                <string>{{0,432},{64,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>explosion11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,48}</string>
                <key>spriteSourceSize</key>
                <string>{64,48}</string>
                <key>textureRect</key>
                <string>{{0,480},{64,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>explosion12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,48}</string>
                <key>spriteSourceSize</key>
                <string>{64,48}</string>
                <key>textureRect</key>
                <string>{{0,528},{64,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>explosion13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,48}</string>
                <key>spriteSourceSize</key>
                <string>{64,48}</string>
                <key>textureRect</key>
                <string>{{0,576},{64,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>explosion14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,48}</string>
                <key>spriteSourceSize</key>
                <string>{64,48}</string>
                <key>textureRect</key>
                <string>{{0,624},{64,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>explosion15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,48}</string>
                <key>spriteSourceSize</key>
                <string>{64,48}</string>
                <key>textureRect</key>
                <string>{{0,672},{64,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>explosion16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,48}</string>
                <key>spriteSourceSize</key>
                <string>{64,48}</string>
                <key>textureRect</key>
                <string>{{0,720},{64,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>explosion17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,48}</string>
                <key>spriteSourceSize</key>
                <string>{64,48}</string>
                <key>textureRect</key>
                <string>{{0,768},{64,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>explosion18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,48}</string>
                <key>spriteSourceSize</key>
                <string>{64,48}</string>
                <key>textureRect</key>
                <string>{{0,816},{64,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>explosion19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,48}</string>
                <key>spriteSourceSize</key>
                <string>{64,48}</string>
                <key>textureRect</key>
                <string>{{0,864},{64,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>explosion2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,48}</string>
                <key>spriteSourceSize</key>
                <string>{64,48}</string>
                <key>textureRect</key>
                <string>{{0,48},{64,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>explosion3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,48}</string>
                <key>spriteSourceSize</key>
                <string>{64,48}</string>
                <key>textureRect</key>
                <string>{{0,96},{64,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>explosion4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,48}</string>
                <key>spriteSourceSize</key>
                <string>{64,48}</string>
                <key>textureRect</key>
                <string>{{0,144},{64,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>explosion5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,48}</string>
                <key>spriteSourceSize</key>
                <string>{64,48}</string>
                <key>textureRect</key>
                <string>{{0,192},{64,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>explosion6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,48}</string>
                <key>spriteSourceSize</key>
                <string>{64,48}</string>
                <key>textureRect</key>
                <string>{{0,240},{64,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>explosion7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,48}</string>
                <key>spriteSourceSize</key>
                <string>{64,48}</string>
                <key>textureRect</key>
                <string>{{0,288},{64,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>explosion8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,48}</string>
                <key>spriteSourceSize</key>
                <string>{64,48}</string>
                <key>textureRect</key>
                <string>{{0,336},{64,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>explosion9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,48}</string>
                <key>spriteSourceSize</key>
                <string>{64,48}</string>
                <key>textureRect</key>
                <string>{{0,384},{64,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>explosion.png</string>
            <key>size</key>
            <string>{64,912}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:60c22c9c2488fd873813cb4f751bfe48:5ec6a3fc02af0850cbd16780de19dca3:c5a2c42043f2b0dda1e7e7adb0cc6144$</string>
            <key>textureFileName</key>
            <string>explosion.png</string>
        </dict>
    </dict>
</plist>
